<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--<meta http-equiv="refresh" content="60" />--><!-- refresh page every <content value> seconds -->
    <link rel="stylesheet" href="~/Content/Style.css" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    @using WebApp.DataClassLibrary;
    @using WebApp.DataClassLibrary.Models;
    @{
        User CurrentUser = null;
        var identity = User?.Identity;
        if (identity?.IsAuthenticated ?? false)
        {
            CurrentUser = GetUser(identity.Name);
        }
        IEnumerable<Category> AllCategories = Categories.All;
    }
    @functions {
        User GetUser(string name)
        {
            User user;
            using (DBContext context = new DBContext())
            {
                user = context.Users.FirstOrDefault(u => u.UserLogin == name);
            }
            return user;
        }
    }
    <div id="MainMasterForm">
        <div>
            <header id="pageHeader" class="darkBackground">
                <div class="logo">
                    <a href="/">
                        <h3>@Resources.Language.SiteName</h3>
                    </a>
                </div>
                <div class="headerMenu">
                    <nav>
                        @MyHelpers.StaticPageList()
                        @MyHelpers.CategoryList(AllCategories)
                    </nav>
                </div>
                <div class="headerProfile">
                    @{
                        if ((identity?.IsAuthenticated ?? false) && CurrentUser != null)
                        {
                            <p class="popupTrigger" onmouseover="setUserPopupDisplay('block')">@CurrentUser.UserName</p>
                            <div id="userpopup" class="popup verticalMenu" style="display: none;">
                                <p style="text-align: end;">@CurrentUser.UserName</p>
                                <a href="/profile">@Resources.Language.MyProfile</a>
                                <a href="/profile/writepost">@Resources.Language.PostEditor</a>
                                <a href="/profile/settings">@Resources.Language.Settings</a>
                                @Html.ActionLink(Resources.Language.LogOut, "LogOut", "Account",
                                    new { returnUrl = Request.Url.AbsolutePath }, null)
                            </div>
                        }
                        else
                        {
                            <span>
                                @Html.ActionLink(Resources.Language.LogIn, "Login", "Account")
                            </span>
                        }
                    }
                </div>
            </header>
            <div id="pageContent">
                @RenderBody()
            </div>
            <footer id="pageFooter">
                <div id="footerContent" class="darkBackground bs-row">
                    <section>
                        <h3>@Resources.Language.Categories</h3>
                        <div class="verticalMenu">
                            @MyHelpers.CategoryList(AllCategories)
                        </div>
                    </section>
                    <section>
                        <h3>@Resources.Language.Sitemap</h3>
                        <div class="verticalMenu">
                            @MyHelpers.StaticPageList()
                            @{
                                if (System.Web.HttpContext.Current.User?.Identity.IsAuthenticated ?? false)
                                {

                                    <span>
                                        <a href="/profile">@Resources.Language.MyProfile</a>
                                    </span>
                                    <span>
                                        <a href="/profile/writepost">@Resources.Language.PostEditor</a>
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        <a href="/login">@Resources.Language.LogIn</a>
                                    </span>
                                    <span>
                                        <a href="/register">@Resources.Language.Register</a>
                                    </span>
                                }
                            }
                        </div>
                    </section>
                </div>
                <div id="footerCopyright" class="darkBackground">
                    <p>
                        <a href="/">@Resources.Language.SiteName</a>
                        &#169; @DateTime.Now.Year
                        <a href="https://github.com/SergeiFdrv">SergeiFDRV</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Content/JavaScript.js"></script>
    <script>
        var currentLinks = document.querySelectorAll('a[href="' + '<%= Page.Request.RawUrl %>' + '"]');
        currentLinks.forEach(link => { link.classList.add('currentURL') });
    </script>
    <script>
        if (window.navigator.userAgent.toLowerCase().indexOf('trident') > -1) {
            document.body.innerHTML =
                "Hellow. Apperently you are using Internet Explorer, " +
                "a long dead web browser this website does not support. " +
                "We will be glad to see you back with a normal browser<br/>" +
                "Привет. Похоже, Вы используете Internet Explorer, " +
                "давно мертвый веб-браузер, не поддерживаемый данным сайтом. " +
                "Будем рады видеть Вас на нормальном браузере";
        }
    </script>
</body>
</html>